.title {
    color: #3B6E9C;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}
.search {
    float: left;
    margin-left: 50px;
}

table#results {
    display:none;
    margin-top: 10px;
    width: 100%;
}

table#results tr { cursor: pointer; }
table#results tr.odd { background-color: #F3F3F3; }
table#results tr.even { background-color: #E9E9E9; }

table#results tr.highlight { background-color: #E0E0E0; }
table#results tr td, table#results tr th {
    line-height: 20px;
    padding: 8px;
}
table#results tr th {
    color: #3B6E9C;
}

table#results tr.articleRow {
    cursor: default;
}
table#results tr.articleRow td {
    padding: 0;
}
table#results tr.articleRow td .articleContainer {
    display: none;
    padding: 8px 150px;
}


.article {
    background-color: #F6F6F6;
    width: 640px;
}
.article .field {
    padding: 5px;
}
.article .field .label {
    float: left;
    font-weight: bold;
    width: 150px;
}
.article .field .value {
    margin-left: 150px;
}