.header .title {
    color: #3B6E9C;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}
.header .search {
    float: left;
    margin-left: 50px;
}

#results {
    margin-top: 20px;
}
#results .result {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#results .result .icon {
    float: left;
    height: 64px;
    width: 64px;
}
#results .result .icon.decisionTree { background: url('../images/filter.png'); }
#results .result .icon.howTo { background: url('../images/info_blue.png'); }
#results .result .icon.knownError { background: url('../images/warning_blue.png'); }
#results .result .icon.problemSolution { background: url('../images/help_blue.png'); }
#results .result .icon.reference { background: url('../images/design.png'); }
#results .result .middleCol {
    float: left;
    margin-left: 15px;
    width: 500px;
}
#results .result .middleCol .sprite {
    background: url('../images/glyphicons-halflings.png');
    float: left;
    height: 14px;
    margin: 1px 5px 1px 0;
    width: 14px;
}
#results .result .middleCol .sprite.expand {
    background-position: -456px -72px;
}
#results .result .middleCol .sprite.contract {
    background-position: -313px -119px;
    display: none;
}
#results .result .middleCol .title {
    cursor: pointer;
    float: left;
}
#results .result .middleCol .titleText {
    float: left;
    font-size: 14px;
    font-weight: bold;
}
#results .result .middleCol .summary {
    margin-top: 5px;
}
#results .result .rightCol {
    float: left;
    margin-left: 15px;
}
#results .result .rightCol .modified {
}

.article {
    display: none;
}
.article .field .label {
    color: #777777;
    font-weight: bold;
    padding-top: 10px;
}
.article .links {
    margin-top: 10px;
}
.article .links a {
    margin-right: 10px;
}